@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

html {
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  outline: transparent;
}

/* CSS Variables */
:root[data-theme="light"] {
  --text: hsl(0, 0%, 0%);
  --text-300: hsl(0, 0%, 30%);

  --background: hsl(0, 0%, 100%);
  --card-background: hsl(0, 0%, 90%);
  --background-light: hsl(0, 0%, 97%);

  --textarea: hsl(0, 0%, 90%);

  --primary: hsl(284, 66%, 55%);
  --accent: hsl(227, 53%, 49%);
}

:root[data-theme="dark"] {
  --text: hsl(0, 0%, 100%);
  --text-300: hsl(0, 0%, 70%);

  --background: hsl(0, 0%, 0%);
  --card-background: hsl(0, 0%, 10%);
  --background-light: hsl(0, 0%, 7%);

  --textarea: hsl(0, 0%, 15%);

  --primary: hsl(284, 66%, 45%);
  --accent: hsl(227, 53%, 51%);
}

:root {
  --font-family: "Inter", Helvetica, Arial, sans-serif;
  --fw-normal: 500;
  --fw-medium: 600;
  --fw-large: 700;

  --transition: 200ms ease-in-out;
  --hover: var(--primary);
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;

  font-family: var(--font-family);
  font-weight: var(--fw-normal);
  line-height: 1.5;

  background: var(--background);
  color: var(--text);
}

a,
p,
ul,
li,
button,
input,
textarea {
  all: unset;
}

a,
button,
#theme_icon {
  cursor: pointer;
}

svg {
  width: 2rem;
  height: 2rem;

  fill: var(--text);
  transition: all var(--transition);

  &:hover,
  &:focus {
    fill: var(--primary);
  }
}

/* Navigation */
header {
  z-index: 1;
  position: sticky;
  top: 0;

  background: var(--background);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0.25em 1em;
}

#menu_icon {
  height: 2em;
  width: 2em;
  display: none;
}

.nav_scrolled {
  box-shadow: 0px 0px 20px -10px var(--text-300);
}

.nav_links {
  display: flex;
  gap: 1em;
}


.nav_item {
  position: relative;
  font-weight: var(--fw-medium);
  font-size: 1.25em;
  padding: 0.5em;
  color: var(--text-300);

  svg {
    height: 2rem;
    width: 2rem;
  }

  &:hover,
  &:focus {
    color: var(--primary);
  }
}

.nav_link:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0.8em;

  height: 3px;
  border-radius: 3px;
  width: 100%;

  transform: scaleX(0);
  transform-origin: center;

  background-color: var(--primary);
  transition: transform var(--transition);
}

.nav_link:hover::after,
.nav_link:focus::after {
  font-weight: var(--fw-large);
  transform: scaleX(1);
}

@media (width < 450px) {
  .nav_links {
    position: fixed;
    inset: 0 0 0 30%;

    gap: 1em;
    padding: min(20vh, 10em) 2em;

    flex-direction: column;
    align-items: start;

    background: var(--background);
    transform: translateX(100%);
    transition: transform var(--transition);

    .nav_item {
      font-size: 1.5em;
    }

    &[data-visible="true"] {
      transform: translatex(0);
    }
  }

  @supports(backdrop-filter: blur(1em)) {
    .nav_links {
      background: none;
      backdrop-filter: blur(2em);
    }
  }

  .nav_link::after {
    bottom: 0.25em;
  }

  #menu_icon {
    display: block;
    position: relative;

    z-index: 99;

    color: var(--text);
  }
}

.btn {
  --button-color: var(--background);

  display: flex;
  align-items: center;
  gap: 0.5em;

  padding: 0.5em 1em;
  margin-block: 1em;
  width: fit-content;

  border-radius: 5px;
  color: #fff;

  background-color: var(--accent);
  transition: all var(--transition);

  svg {
    fill: #fff;
    width: 1.5em;
    height: 1.5em;
  }

  &:hover,
  &:focus {
    background: var(--hover);
  }
}

/* Introduction */
.wrapper {
  max-width: min(75ch, 90%);
  margin-inline: auto;
}

section {
  scroll-margin-top: 5em;

  .section_title {
    font-weight: var(--fw-large);
    font-size: 2.5em;

    display: block;
    color: var(--primary);
    margin-block-start: 2em;
  }
}

.introduction {
  min-height: 75svh;
  max-width: min(65ch, 80%);

  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 0.5em;
  text-wrap: balance;

  .intro_name {
    background-image: linear-gradient(45deg, var(--primary), var(--accent));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

    display: block;
    font-weight: var(--fw-large);
    font-size: 3em;

    margin-block: -0.1em;
    margin-left: -0.05em;
  }

  .intro_links {
    display: flex;
    gap: 1em;
  }
}

@media (width < 415px) {
  .intro_name {
    line-height: 1;
  }
}

/* Project Highlights */
.disabled {
  pointer-events: none;
  opacity: 0.5;
}

img {
  align-self: center;
  max-width: 100%;
  height: 100%;

  font-style: italic;
  object-fit: cover;

  border-radius: 5px;
}

.highlights {
  max-width: min(100ch, 90%);
  margin-inline: auto;
}

.highlight {
  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 1em;
  padding: 1em 0.5em;

  width: 100%;
  height: min-content;
  margin-block-end: 5em;

  &:nth-child(even) {
    .project_description {
      order: -1;
    }
  }
}

@media (width < 700px) {
  .highlight {
    grid-template-columns: 1fr;

    &:nth-child(even) {
      .project_description {
        order: 0;
      }
    }
  }
}

.project_description {
  display: flex;
  flex-direction: column;
  text-wrap: pretty;
  gap: 0.5em;

  .buttons {
    display: flex;
    gap: 0.5em;
  }

  .btn {
    margin: 0;
  }
}

.project_title {
  font-weight: var(--fw-large);
  font-size: 1.5em;
}

.technologies {
  display: flex;
  gap: 0.25em;
  flex-wrap: wrap;

  li {
    padding: 0em 0.5em;
    border: 1px solid var(--text);
    border-radius: 5px;
  }
}

/* Other projects */
.other_projects {
  display: flex;
  flex-direction: column;
  gap: 1em;

  margin-bottom: 5em;
}

.project {
  background: var(--card-background);
  padding: 0.5em;
  border-radius: 5px;

  .title_card {
    display: flex;
    justify-content: space-between;

    text-wrap: balance;

    a:hover,
    a:focus {
      color: var(--primary);
    }
  }
}

/* Contact Form */
section:has(.contact) {
  padding-top: 2em;
  background: var(--background-light);

  .section_title {
    margin-block-start: 0em;
  }
}

.contact {
  padding-bottom: 5em;

  form {
    margin-block: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }

  span {
    color: var(--primary);
  }

  .btn {
    align-self: flex-end;
  }
}

input,
textarea {
  font-family: inherit;
  font-size: inherit;

  background-color: var(--textarea);
  border-radius: 4px;
  color: var(--text);

  padding: 0.5em 1em;
}

textarea {
  resize: vertical;
}

.alert {
  position: fixed;
  bottom: 2rem;
  left: 0;
  right: 0;
  opacity: 0.75;
  width: fit-content;
  margin-inline: auto;

  text-align: center;
  font-weight: var(--fw-large);

  padding: 0.5rem 2rem;
  border-radius: 5px;
}

#processing {
  color: #059;
  background-color: #bef;
}

#success {
  color: #270;
  background-color: #dff2bf;
}

#failure {
  color: #d8000c;
  background-color: #ffbaba;
}

/* Footer */
footer {
  display: flex;
  padding: 1em;
  gap: 0.5em;

  background: var(--text-300);
  justify-content: center;


  flex-wrap: wrap;

  .btn {
    margin: 0;
    background: transparent;
    color: var(--background);

    svg {
      fill: var(--background);
    }

    &:hover,
    &:focus {
      background-color: var(--accent);
    }
  }
}

.hidden {
  display: none;
}