html {
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  outline: transparent;
}

/* CSS Variables */
:root {
  --font-family: system-ui, Helvetica, Arial, sans-serif;
  --fw-small: 100;
  --fw-normal: 400;
  --fw-large: 900;

  --transition: 200ms ease-in-out;
}

:root[data-theme="light"] {
  --text: hsl(279, 68%, 0%);
  --text-100: hsl(279, 68%, 10%);

  --background: hsl(270, 60%, 100%);
  --background-100: hsl(270, 60%, 90%);
  --card-background: hsl(0, 0%, 90%);

  --primary: hsl(284, 66%, 55%);
  --secondary: hsl(91, 98%, 52%);
  --accent: hsl(281, 35%, 43%);

  --hover: var(--text);
}
:root[data-theme="dark"] {
  --text: hsl(279, 68%, 100%);
  --text-100: hsl(279, 68%, 90%);

  --background: hsl(270, 60%, 0%);
  --background-100: hsl(270, 60%, 10%);
  --card-background: hsl(0, 0%, 10%);

  --primary: hsl(284, 66%, 45%);
  --secondary: hsl(94, 66%, 29%);
  --accent: hsl(281, 35%, 57%);

  --hover: var(--accent);
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;

  font-family: var(--font-family);
  font-weight: 500;
  line-height: 1.5;

  background: var(--background);
  color: var(--text);
}

a,
p,
ul,
li,
button,
input,
textarea {
  all: unset;
}

a,
button,
#theme_icon {
  cursor: pointer;
}

svg {
  width: 2rem;
  height: 2rem;

  fill: var(--text);
  transition: all var(--transition);

  &:hover,
  &:focus {
    fill: var(--primary);
  }
}

/* Navigation */
header {
  z-index: 1;
  position: sticky;
  top: 0;

  background: transparent;
}

.nav_scrolled {
  background: var(--background);
  box-shadow: 0px 0px 20px -10px var(--text);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0.5em 1em;
}

.nav_links {
  display: flex;
  gap: 1em;

  & #theme_icon {
    height: 1.5rem;
    width: 1.5rem;
  }
}

.nav_item {
  position: relative;
  font-weight: 600;
  padding: 0.5em;

  &:hover,
  &:focus {
    color: var(--primary);
  }
}

.nav_link:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0.5em;

  height: 3px;
  border-radius: 3px;
  width: 100%;

  transform: scaleX(0);
  transform-origin: center;

  background-color: var(--primary);
  transition: transform var(--transition);
}

.nav_link:hover::after,
.nav_link:focus::after {
  font-weight: var(--fw-large);
  transform: scaleX(1);
}
/* ToDo: Responsive navigation - hamburger menu */

.btn {
  --button-color: var(--background);

  display: flex;
  align-items: center;
  gap: 0.5em;

  padding: 0.5em 1em;
  margin-block: 1em;
  width: fit-content;

  border-radius: 5px;
  color: #fff;

  background-color: var(--secondary);
  transition: all var(--transition);

  & svg {
    fill: #fff;
    width: 1.5em;
    height: 1.5em;
  }

  &:hover,
  &:focus {
    background: var(--hover);
  }
}

/* Introduction */
.wrapper {
  max-width: min(80ch, 90%);
  margin-inline: auto;
}

section {
  scroll-margin-top: 5em;
}

.introduction {
  margin-inline: 1em;
  min-height: 75svh;
  width: 75%;

  display: flex;
  flex-direction: column;
  justify-content: center;

  /* text-align: justify; */
  gap: 0.5em;

  & .intro_name {
    display: block;
    color: var(--primary);
    font-weight: 600;
    font-size: 3em;

    text-shadow: 0px 1px 2px var(--accent);
    margin-left: -0.05em;
  }

  & .intro_links {
    display: flex;
    gap: 1em;
  }
}

/* Project Highlights */
.disabled {
  pointer-events: none;
  opacity: 0.5;
}

img {
  align-self: center;
  max-width: 100%;
  height: 100%;

  font-style: italic;
  object-fit: cover;

  border-radius: 5px;
}

.highlight {
  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 1em;
  padding: 0.5em;

  border-radius: 5px;
  background: var(--card-background);

  margin-block: 0.5em;
  width: 100%;
  height: min-content;

  &:nth-child(even) {
    & .project_description {
      order: -1;
    }
  }
}

@media (width < 700px) {
  .highlight {
    grid-template-columns: 1fr;
    &:nth-child(even) {
      & .project_description {
        order: 0;
      }
    }
  }
}

.project_description {
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  & .buttons {
    display: flex;
    gap: 0.5em;
  }

  & .btn {
    margin: 0;
  }
}

.project_title {
  font-weight: 700;
  font-size: 1.5em;
}

.technologies {
  display: flex;
  gap: 0.5em;
  flex-wrap: wrap;

  & > li {
    padding: 0em 0.5em;
    border: 1px solid var(--text-100);
    border-radius: 5px;
  }
}

/* Contact Form */

.alert {
  position: fixed;
  bottom: 2rem;
  left: 0;
  right: 0;
  opacity: 0.75;
  width: fit-content;
  margin-inline: auto;

  text-align: center;
  font-weight: 700;

  padding: 0.5rem 2rem;
  border-radius: 5px;

  &#processing {
    color: #059;
    background-color: #bef;
  }

  &#success {
    color: #270;
    background-color: #dff2bf;
  }

  &#failure {
    color: #d8000c;
    background-color: #ffbaba;
  }
}

/* Footer */
footer {
  display: flex;
  gap: 0.5em;

  background: var(--card-background);
  justify-content: center;
}

@media (width < 700px) {
  footer {
    flex-direction: column;
    padding: 1em;

    & .btn {
      margin: 0;
    }
  }
}

.hidden {
  display: none;
}
