/* 
CSS Index

1. Property Reset
2. CSS Variables
3. Dark Mode Toggle Class
4. HTML Tag standards
5. Button
6. Navigation
7. Introduction
8. Highlight Projects
9. About Me
10. More Projects
11. Contact Me
12. Socials
*/

/* Property Resets */
* {
    scroll-behavior: smooth;
    box-sizing: border-box;

    margin: 0;
    padding: 0;
    outline: none;

    scrollbar-width: thin;
}

/* CSS Variables */
:root {
    --clr-background: #FFFFFF;
    --clr-primary: #2B3467;
    --clr-highlight: #EB455F;

    --clr-card: #FFFFFF;
    --clr-gray: #D9D9D9;

    --font-family: 'Inter', Helvetica, sans-serif;
    --fw-small: 100;
    --fw-normal: 400;
    --fw-large: 900;

    --fc-light: #F0F0F0;
    --fc-dark: #101010;
    --fc-span: #2B3467;
    --fc-default: var(--fc-dark);

    --form-background: #FFFFFF;

    --transition-duration: 200ms;
}

/* Dark Mode Toggle Class */
.dark_mode {
    --clr-background: #333333;
    --clr-card: #333333;

    --fc-span: #F0F0F0;
    --fc-default: var(--fc-light);

    --form-background: #FCFFE7;
}

/* Standards */
body {
    font-family: var(--font-family);

    background-color: var(--clr-background);
    color: var(--fc-default);
}

section {
    min-height: 75vh;
    padding: 3rem 3rem;
}

svg {
    height: 1.25rem;
    width: 1.25rem;
}

a {
    all: unset;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;

    gap: 0.5em;
}

textarea {
    resize: vertical;
}

::placeholder{
    font-family: var(--font-family);
}

.sec_title {
    font-size: 2em;
    font-weight: var(--fw-large);

    color: var(--fc-span);
}

/* Buttons */
button {
    all: unset;
    cursor: pointer;
}

.btn {
    display: inline-block;
    padding: 0.5em 1em;
    border-radius: 5px;

    text-decoration: none;
    text-align: center;
    font-weight: var(--fw-large);

    background-color: var(--clr-highlight);
    color: var(--fc-light);

    outline: none;
    border: none;

    transform: scale(1);
    transition: all var(--transition-duration);
}

.btn:hover,
.btn:focus {
    transform: scale(1.05);
    background-color: var(--fc-dark);
}

/* Navigation */
header {
    position: sticky;
    top: 0;

    z-index: 1;
}

.nav_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: var(--clr-background);
    padding: 0.5em 1em;
}

.nav_name {
    font-weight: var(--fw-large);
    font-size: 1.75em;

    color: var(--clr-highlight);
    text-shadow: 1px 1px var(--fc-dark);
}

.nav_bar_actions {
    display: flex;
    align-items: center;

    gap: 1em;
}

.nav_link {
    position: relative;
    padding: 0 0.5em;

    text-decoration: none;
    font-weight: var(--fw-large);

    color: var(--fc-span);
}

.nav_link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.5em;

    height: 3px;
    width: 100%;

    transform: scale(0, 1);
    transform-origin: center;

    background-color: var(--clr-highlight);
    transition: all var(--transition-duration);
}

.nav_link:hover::after,
.nav_link:focus::after {
    transform: scale(1, 1);
}

/* Introduction */
.introduction {
    background: url("../img/introduction_img.jpg"), var(--clr-gray);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;

    min-height: 80vh;

    display: flex;
    flex-direction: column;

    padding-bottom: 0;
    padding-right: 0;
}

.welcome_div {
    width: 50%;
    margin: auto 4rem;

    color: var(--fc-light);
}

.welcome_div span {
    display: block;
    font-size: 3em;

    font-weight: var(--fw-large);
    color: var(--clr-highlight);

    text-shadow: 2px 2px var(--fc-dark);
}

.welcome_tag {
    margin-bottom: 1em;
}

.photo_credit {
    font-size: 0.75em;

    color: var(--fc-light);
    margin-inline: auto 0.25em;

    opacity: 50%;
}

.photo_credit a {
    text-decoration: unset;
    color: var(--fc-light);
}

.photo_credit a:hover,
.photo_credit a:focus {
    outline: var(--clr-highlight) solid 1px;
}

/* Highlight Projects */
.highlight_projects {
    background-color: var(--clr-primary);
    min-height: auto;

    padding: 3rem;
}

.projects {
    display: flex;
    margin-inline: auto;
    gap: 1rem;

    width: 90%;
}

.project_card_01 {
    background-color: var(--clr-card);
    display: flex;
    flex-direction: column;
    /* width: 30%; */

    padding: 1em;
    border-radius: 4px;

    transition: all var(--transition-duration);
}

.project_card_01:hover,
.project_card_01:focus {
    transform: scale(1.02);
}

.project_card_01 span {
    display: block;

    font-weight: var(--fw-large);
    font-size: 1.25em;
    color: var(--fc-span);

    margin-block: 0.5em;
}

.project_card_01 img {
    width: 100%;
    object-fit: scale-down;
    border-radius: 5px;
}

.project_card_01 .project_links {
    margin-top: 1rem;
    display: flex;

    gap: 0.5rem;
}

.project_card_01 .btn {
    flex: 1;
}

/* About Me */
.about {
    padding-block: 2em;

    display: flex;
    gap: 2em;
}

.about img {
    width: 25%;
    object-fit: cover;

    border-radius: 5px;
}

.about span {
    font-weight: var(--fw-large);
    color: var(--clr-highlight);
}

.about_text {
    display: flex;
    flex-direction: column;

    justify-content: space-around;
}

.about_links {
    display: flex;
    justify-content: space-between;

    gap: 1em;
    /* justify-content: center; */
}

.about_btn {
    flex: 1;
}

/* More Projects */
.more_projects {
    background-color: var(--clr-primary);
}

.more_projects .sec_title {
    color: var(--fc-light);
}

.more_projects .projects {
    flex-direction: column;
    gap: 1em;
}

.more_projects .btn {
    margin-left: auto;
}

.project_card_02 {
    background-color: var(--clr-background);
    display: flex;
    gap: 0.5em;

    padding: 0.5em 1em;
    border-radius: 5px;

    transform: scale(1);
    transition: all var(--transition-duration);
}

.project_card_02 span {
    font-weight: var(--fw-large);
    font-size: 1.25em;

    min-width: 25%;
}

.project_card_02:hover,
.project_card_02:focus {
    transform: scale(1.05);
}

/* Contact Form */
.contact_form {
    width: 80%;
    margin-inline: auto;

    display: flex;
    flex-direction: column;

    gap: 1em;
}

.contact_form span {
    font-weight: var(--fw-large);
    color: var(--clr-highlight);
}

.contact_form .btn {
    margin-right: auto;
}

.contact_field {
    width: 100%;
    border-radius: 5px;

    background-color: var(--form-background);
    border: 1px solid var(--clr-gray);

    padding: 1em 1.5em;
}

.contact_field:hover,
.contact_field:focus {
    outline: 1px solid var(--clr-highlight);
}

/* Footer */
.footer {
    background-color: var(--clr-primary);
    padding: 1.5em;

    display: flex;
    gap: 1em;

    /* flex-direction: column; */
    align-items: center;
}

.footer span {
    color: var(--fc-light);
    font-size: 1.25em;
}

.footer_links {
    margin-inline: auto;
    display: flex;
    gap: 1em;
}

.socials_link {
    display: flex;
    gap: 0.25em;
    padding: 0.5em 1em;
    border-radius: 5px;

    align-items: center;

    text-transform: capitalize;
    color: var(--fc-light);
    fill: var(--fc-light);

    transition: all var(--transition-duration);
}

.socials_link:hover,
.socials_link:focus {
    background-color: var(--fc-light);

    font-weight: var(--fw-large);
    color: var(--fc-dark);
    fill: var(--fc-dark);

    transform: scale(1.05);
}