/* CSS Variables */
:root {
    --clr-background: #FFFFFF;
    --clr-card: #EFEFEF;
    --clr-primary: #102A43;
    /* --clr-highlight: #EB455F; */
    --clr-highlight: #7C4894;

    --font-family: 'Inter', Helvetica, sans-serif;
    --span-family: 'Roboto Slab', serif, Helvetica;
    --fw-small: 100;
    --fw-normal: 400;
    --fw-large: 900;

    --light: #EFEFEF;
    --dark: #101010;
    --fc-span: #102A43;
    --fc-default: var(--dark);

    --transition: 200ms ease-in-out;
}

html {
    scroll-behavior: smooth;
}

*, *::after, *::before {
    box-sizing: border-box;
    outline: transparent;
}

body {
    margin: 0;
    padding: 0;

    font-family: var(--font-family);
    font-size: 1.125rem;
    line-height: 1.25;

    background-color: var(--clr-background);
    color: var(--fc-default);
}

svg {
    height: 1.25rem;
    width: 1.25rem;

    fill: var(--fc-span);
}

a, p, button, input, textarea {
    all: unset;
}

a, button {
    cursor: pointer;
    background: none;
}

span {
    font-weight: var(--fw-large);
    font-family: var(--span-family);
    color: var(--fc-span);

    display: block;
}

code {
    display: block;
    color: var(--clr-highlight);
    font-weight: var(--fw-large);
}

/* Buttons */
.btn {
    display: inline-block;
    padding: 0.5em;
    border-radius: 5px;

    background: var(--clr-highlight);
    color: var(--light);
    font-weight: 700;

    transform: scale(1);
    transition: all var(--transition);

    gap: 0.5em;
    /* justify-content: center; */
    /* align-items: start; */
}

.btn:hover,
.btn:focus {
    background: var(--clr-primary);
    transform: scale(1.01);
}

/* Navigation Bar */
nav {
    /* --txt-clr: ; */
    --background: transparent;

    position: sticky;
    top: 0;
    /* left: 0; */
    /* right: 0; */

    background-color: var(--background);
    /* box-shadow: 0px 1px 10px var(--dark); */

    z-index: 10;
    transition: all var(--transition);

    display: flex;
    justify-content: space-between;
    padding: 0.25em 0.5em;
}

.nav_scrolled {
    --background: var(--clr-background);
    box-shadow: 0px 0px 20px -10px var(--dark);
}

.nav_logo {
    height: 2.5rem;
    width: 2.5rem;

    fill: var(--clr-highlight);
}

.nav_bar_actions {
    display: flex;
    align-items: center;
    gap: 0.5rem
}

.nav_link {
    position: relative;

    font-weight: var(--fw-large);
    color: var(--fc-span);
}

.nav_link:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.5em;

    height: 3px;
    width: 100%;

    transform: scaleX(0);
    transform-origin: center;

    background-color: var(--clr-primary);
    transition: transform var(--transition);
}

.nav_link:hover::after,
.nav_link:focus::after {
    font-weight: var(--fw-large);
    transform: scaleX(1);
}

@media (width > 700px) {
    .nav_link {
        padding-inline: 0.5em;
    }
}

.nav_interact {
    height: 1em;
}

/* Container class */
.container {
    max-width: min(1000px, 100% - 4rem);
    margin-inline: auto;
}

/* Introduction */
.introduction {
    margin-block: 3em;
    
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.introduction span {
    font-size: 2.5em;
    text-shadow: 1px 1px 2px var(--clr-highlight);
}

.introduction .title {
    font-size: 1.5em;
    font-family: var(--font-family);
    text-shadow: none;
}

.introduction .links {
    margin-block: 0.5em;

    display: flex;
    align-items: end;
    gap: 1em;
}

.links svg {
    height: 1.5em;
    width: 1.5em;
}

.introduction img {
    width: 100%;
    object-fit: contain;
}

@media (width > 700px) {
    .introduction {
        margin-block: 0;
        flex-direction: row;
    }

    .introduction img {
        width: 50%;
    }
}

/* Sections */
section {
    padding-top: 3rem;
}

.section_title {
    font-size: 2.25em;
    font-weight: var(--fw-large);

    color: var(--fc-span);

    margin-block: 0.5em;
}

/* Projects */
.project_card {
    display: flex;
    flex-direction: column;
    gap: 1em;

    background-color: var(--clr-card);
    margin-bottom: 1em;
    padding: 0.5em;

    border-radius: 4px;
}

.project_card img {
    object-fit: cover;
    border-radius: 4px;
}

.title {
    font-size: 1.25em;
}

.project_card .project_desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project_card .project_links {
    display: flex;
    gap: 0.5em;
    justify-content: end;

    margin-top: 0.5em;
}

.project_card .project_links .btn {
    display: flex;
}

@media (width > 700px) {
    .project_card {
        flex-direction: row;
    }

    .project_card img {
        width: 50%;
        object-fit: contain;
    }
}

.other_projects {
    display: grid;
    grid-template-columns:
        repeat(auto-fit, minmax(min(300px, 100%), 1fr));
    gap: 1em;
}

.project_box {
    background-color: var(--clr-card);
    border-radius: 4px;
    
    padding: 0.5em;
}

.project_box .box_title {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.project_box svg {
    height: 1.25em;
    width: 1.25em;
}

/* About section */
.about {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: start;

    gap: 1.5em;
}

.about img {
    object-fit: cover;
    width: 100%;

    border-radius: 4px;
}

.about p {
    display: block;
    margin-bottom: 1em;
}

@media (width > 700px) {
    .about {
        flex-direction: row;
    }
    .about img {
        width: 25%;
        object-fit: contain;
    }
}

/* Education */
.education {
    margin-bottom: 1em;
}

.education .text {
    margin-top: 0.5em;
    padding: 0.5em;
    background-color: var(--clr-card);
}

/* Contact Form */
.contact span {
    display: inline-block;
}

.contact form {
    margin-block: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

input, textarea {
    font-family: inherit;
    font-size: inherit;

    background-color: var(--clr-card);
    color: var(--fc-default);
    
    padding: 0.5em 1em;
}

textarea {
    resize: vertical;
}

.contact form .btn {
    align-self: flex-end;
}

/* Footer */
footer {
    margin-block: none;
    background-color: var(--clr-primary);

    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5em;

    padding: 1em;
}

footer .socials_link {
    background-color: transparent;
    color: var(--light);
    fill: var(--light);
    
    display: flex;

    transition: all var(--transition);
}

footer .socials_link svg {
    fill: inherit;
}

.socials_link:hover,
.socials_link:focus {
    background-color: var(--light);
    color: var(--dark);
    fill: var(--dark);
}

@media (width > 700px) {
    footer {
        flex-direction: row;
        justify-content: center;
    }
}


/* Dark Mode Toggle*/
.dark_mode_btn {
    position: fixed;
    bottom: 0.5em;
    right: 1em;

    fill: var(--clr-primary);
    transition: all --transition;
}

.dark_mode_btn svg {
    height: 1.75em;
    width: 1.5em;
    fill: inherit;
}

.footer_overlap {
    fill: var(--light);
}

.dark_mode {
    --clr-background: #121212;
    --clr-card: #222222;
    --clr-primary: #3DE1C5;
    --clr-highlight: #BA6CDE;

    --fc-default: var(--light);
    --fc-span: var(--clr-primary);
}