:root {
    --background-clr: white;
    --primary-clr: #3E54AC;
    --secondary-clr: #BFDCE5;
    --highlight: #D1345B;

    --font-normal: #DDDDDD;
    --font-highlight: white;
}

*,
*:before,
*:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body::-webkit-scrollbar{
    display: none;
}

body {
    background: var(--background-clr);

    font-family: "Inter", Arial, Helvetica, sans-serif;
    color: var(--font-normal);

    -ms-overflow-style: none;
    scrollbar-width: none;
}


section {
    height: 100vh;
    height: 100svh;
    display: flex;
    flex-direction: column;
}

.nav_bar {
    display: flex;
    padding: 0.5em 1em;

    background-color: var(--primary-clr);
    color: var(--font-highlight);

    gap: 0.5em;
}

.title_card {
    display: flex;
    flex-direction: column;
}

.title_card>* {
    background-color: var(--primary-clr);
}

.my_name {
    font-size: 1.75em;
    font-weight: bold;
}

.page_title {
    height: 100%;
}

.mode_button {
    all: unset;
}

.nav_link {
    position: relative;
    text-decoration: none;
    color: var(--font-normal);

    cursor: pointer;

    padding: 0.75em;
    background: none;
    align-self: center;
}

.nav_link::after{
    content: "";
    position: absolute;
    background-color: var(--highlight);
    
    height: 2px;
    width: 100%;
    left: 0;
    bottom: 0;

    transform: scale(0, 1);
    /* transform-origin: center; */
    transition: transform 200ms ease-in-out;
}

.nav_link:hover,
.nav_link:focus{
    color: var(--font-highlight);
}

.nav_link:hover::after,
.nav_link:focus::after{
    /* color: var(--font-highlight); */
    transform: scale(1, 1);

}

.projects_link {
    margin-left: auto;
}

.introduction {
    width: 50%;
    margin-inline: auto;

    display: flex;
    flex-direction: column;
    flex: auto;

    color: black;

    justify-content: center;
}

.welcome_tag {
    font-size: 4em;
    font-weight: bold;
    color: var(--primary-clr);
}

.intro_text {
    font-size: 1.25em;
}

.open_contact {
    border: none;
    text-decoration: none;
    border-radius: 5px;
    background-color: var(--highlight);
    color: var(--background-clr);

    width: auto;
    padding: 0.5em 2em;
    margin-top: 1em;

    font-size: 1.25em;

    align-self: baseline;
    /* transition: 200ms; */
}

.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.projects > *{
    flex: 1;
}